<div class="panel panel-default">
<div class="panel-heading">CCSI Administrator - Tenants overview</div>
<div class="panel-body">


<table ng-table="tableParams" class="table table-striped">
  <thead>
    <tr>
      <th style="text-align: left;">Name
      <th style="text-align: left;">Keyword
      <th style="text-align: left;">Owner
      <th style="text-align: left;">Customer Records
      <th style="text-align: left;">Reply charging scheme
      <th style="text-align: left;">Transactions
      <th style="text-align: left;">Push credits
      <th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="tenant in $data">
      <td>{{tenant.name}}
      <td>{{tenant.keyword}}
      <td>{{tenant.owner}}
      <td>{{tenant.recordCount}}
      <td>
        <select ng-change="saveTenant(tenant)" ng-model="tenant.replyCharge" ng-options="replyCharge as replyCharge for replyCharge in replyChargingSchemes"></select><br />
        <small>{{schemeDescription[tenant.replyCharge]}}</small>
      </td>
      <td>{{tenant.transactionCount}}
      <td>{{tenant.pushCredits|number:2}}
      <td>
        <button ng-click="giveCredits(tenant)" title="Give push credits" class="btn btn-success btn-xs"><i class="fa fa-plus"></i></button>
        <button ng-click="takeCredits(tenant)" title="Remove push credits" class="btn btn-danger btn-xs"><i class="fa fa-minus"></i></button>
      </td>
    </tr>
    <tr ng-if="!totalRecords">
      <td colspan="7">No tenants found</td>
    </tr>
  </tbody>
</table>

</div>
</div>

<!-- Modals -->
<script type="text/ng-template" id="modal-give-credits">
  <div class="modal-header modal-primary">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h3 class="modal-title">Give push credits</h3>
  </div>
  <form ng-submit="confirm()">
  <div class="modal-body">
    <dl class="dl-horizontal">
      <dt>Tenant
      <dd>{{tenant.name}}
      <dt class="form-control-static">Credits to give
      <dd>
        <input type="number" ng-model="giveCredits.pushCredits" class="form-control" required />
      </dd>
    </dl>
  </div>
  <div class="modal-footer">
    <button class="btn btn-s-xs btn-success">Confirm</button>
    </form>
    <span class="btn btn-default btn-s-xs" ng-click="close()">Cancel</span>
  </div>
</script>
<script type="text/ng-template" id="modal-take-credits">
  <div class="modal-header modal-primary">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h3 class="modal-title">Removing push credits</h3>
  </div>
  <form ng-submit="confirm()">
  <div class="modal-body">
    <dl class="dl-horizontal">
      <dt>Tenant
      <dd>{{tenant.name}}
      <dt class="form-control-static">Credits to remove
      <dd>
        <input type="number" ng-model="takeCredits.pushCredits" class="form-control" required />
      </dd>
    </dl>
  </div>
  <div class="modal-footer">
    <button class="btn btn-s-xs btn-success">Confirm</button>
    </form>
    <span class="btn btn-default btn-s-xs" ng-click="close()">Cancel</span>
  </div>
</script>