<!-- Set up constants such as APP ID and token -->
<script type="text/javascript" src="lib/heremap/hereAppIdAndToken.js"></script>
<!-- Bootstrap jQuery Library -->
<script type="text/javascript" src="lib/heremap/jQl.min.js"></script>
<!-- Asynchronously the HERE Maps API for JavaScript -->
<script type="text/javascript" src="lib/heremap/hereAsyncLoader.js"
  id="HereMapsLoaderScript"
  data-map-container="mapContainer"
  data-params="maps"
  data-callback="afterHereMapLoad" >
</script>

<body>
  <div id="mapContainer" style="width:100%; height:334px;"></div>
  <div id="src"><br/><p>Code:</p></div>
Hello this is map page
{{name}}
{{whatever}}

</body>