<!-- Set up constants such as APP ID and token -->
<script type="text/javascript" src="lib/heremap/hereAppIdAndToken.js"></script>
<!-- Bootstrap jQuery Library -->
<script type="text/javascript" src="lib/heremap/jQl.min.js"></script>
<!-- Asynchronously the HERE Maps API for JavaScript -->
<script type="text/javascript" src="lib/heremap/hereAsyncLoader.js"
  id="HereMapsLoaderScript"
  data-map-container="mapContainer"
  data-params="maps"
  data-callback="afterHereMapLoad" >
</script>

<body>
  <div id="mapContainer" style="width:100%; height:334px;"></div>
  <div id="events">Events: {{events}}</div>

<script id="example-code" data-categories="marker,events" type="text/javascript" >
//<![CDATA[

var arrColor = ['#0C0101', '#220202', '#320303', '#410505', '#520707', '#640909', '#7A0C0C', '#910F0F',
    '#AB0E0E', '#D21313', '#FC1111', '#9DA008', '#F4F80E', '#0EF82A', '#6ADB78', '#0C0101', '#220202',
    '#320303', '#410505', '#520707', '#640909', '#AB0E0E', '#D21313', '#FC1111', '#9DA008'],
  map,
  marker;

function updateMarker() {
  marker.set('text', Math.floor(map.zoomLevel));
  var brush = {color: arrColor[Math.floor(map.zoomLevel)]};
  marker.set('brush', brush);
}

function addZoomObserver(map) {
  map.addObserver('zoomLevel', function () {
    updateMarker();
  });
}

function addMarkerToMap(map) {
  var coord = new nokia.maps.geo.Coordinate(52.53, 13.39);
  marker = new nokia.maps.map.StandardMarker(coord);
  updateMarker();
  map.objects.add(marker);
}

var infoBubbles, lastcoord;
var myHTMLcontent = '<div class=\'myHtmlContent\'>'
  + '<form class="form-horizontal"><div class="form-group"><label class="col-sm-3" for="name">Name</label><div class="col-sm-8"><input id="evt-name" type="text" name="name" class="form-control"/></div></div>'
  + '<div class="form-group"><label class="col-sm-3" for="desc">Description</label><div class="col-sm-8"><input id="evt-desc" type="text" class="form-control"/></div></div></div></form>'
  + '<button id="btn-make-evt" onClick="makeEvent()">Create event</button>';

function makeEvent() {
  $.post('/sjw/event/' + $('#org-id').val(), {
    name: $('#evt-name').val(),
    description: $('#evt-desc').val(),
    etype: 'EDU',
    longtitude: lastcoord.longitude,
    latitude: lastcoord.latitude
  }, function (response) {
    alert('Event created!');
  })
}

function setUpClickListener(map) {
  // Attach an event listener to map display
  // obtain the coordinates an display in an alert box.
  //
  var TOUCH = nokia.maps.dom.Page.browser.touch,
    CLICK = TOUCH ? 'tap' : 'click';
  map.addListener(CLICK, function (evt) {
    var coord = map.pixelToGeo(evt.displayX, evt.displayY);
    //alert('Clicked at ' + coord);

    if (!infoBubbles) {
      infoBubbles = new nokia.maps.map.component.InfoBubbles();
      map.components.add(infoBubbles);
    }

    lastcoord = coord;
    infoBubbles.openBubble(myHTMLcontent, coord);
  });
}

//
// This is the callback method fired once the bootstrapper has loaded the map.
//
function afterHereMapLoad(theMap) {
  map = theMap;
  addMarkerToMap(map);
  addZoomObserver(map);
  setUpClickListener(map);
}

//]]>
</script>

</body>