<div ng-if="!tenants.length">
  It looks like you don't have any registered businesses. <a ui-sref="tenant_create">Create one now</a>
</div>

<div ng-if="tenant">
  <div class="row">
    <!-- Dropdown for available tenants -->
    <div class="col-sm-6">
      <select ng-model="tenant"
        ng-options="tenant as tenant.name for tenant in tenants track by tenant.keyword"
        ng-change="loadTenant(tenant)"
        class="form-control">
      </select>
    </div>
  </div>
  <div class="row" style="margin-top: 5px;">
    <div class="col-sm-6">
      <a ui-sref="tenant_create({tenantIndex: tenantIndex})">Add another business</a>
    </div>
  </div>

  <div class="panel panel-default" style="margin-top:10px;">
    <div class="panel-heading">Business Info</div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Name
        <dd>{{tenant.name}}
        <dt>Keyword
        <dd>{{tenant.keyword}}
        <dt>Keyword templates
        <dd><a ui-sref="tenant.stock_templates({tenantId: tenant.id, tenantIndex: tenantIndex})">Edit keyword templates</a>
        <dt>Templates
        <dd><a ui-sref="tenant.templates({tenantId: tenant.id, tenantIndex: tenantIndex})">Edit templates</a>
        <dt>Transactions
        <dd><a ui-sref="tenant.transactions({tenantId: tenant.id, tenantIndex: tenantIndex})">View transactions</a>
      </dl>
      <dl class="dl-horizontal">
        <dt>&nbsp;
        <dd>      
          <button ng-click="showAdvanced = !showAdvanced" style="font-family: monospace;" ng-init="showAdvanced = false" class="btn btn-default btn-xs">
            <span ng-if="showAdvanced">[-]</span>
            <span ng-if="!showAdvanced">[+]</span>
            Advanced
          </button>
        </dd>
      </dl>
      <dl class="dl-horizontal" ng-show="showAdvanced">
        <dt>Variables
        <dd><a ui-sref="tenant.variables({tenantId: tenant.id, tenantIndex: tenantIndex})">Edit</a>
        <dt>Broadcast
        <dd><a ui-sref="tenant.broadcast({tenantId: tenant.id, tenantIndex: tenantIndex})">Do broadcast</a>
        <dt>Batch update
        <dd><a ui-sref="tenant.batchupdate({tenantId: tenant.id, tenantIndex: tenantIndex})">Do batch update</a>
        <!-- 
        <dd>Not supported just yet
        -->
      </dl>
    </div>
    <div class="panel-heading">Customer records</div>
    <div class="panel-body">
      <a href="javascript:;" ng-click="updateRecord()">Create new customer record</a>
      <form ng-submit="reloadTable()" class="form form-inline" style="margin-top: 10px;">
        <div class="form-group">
          <label class="sr-only" for="status">Status</label>
          <select ng-model="filter.status" class="form-control">
            <option value="" selected="selected"></option>
            <option ng-repeat="template in statuses">{{template.status}}</option>
          </select>
        </div>
        <div class="form-group">
          <label class="sr-only" for="filterTrackingNo">Tracking Number</label>
          <input type="text" ng-model="filter.trackingNo" class="form-control" id="filterTrackingNo" placeholder="Tracking no.">
        </div>
        <div class="form-group">
          <label class="sr-only" for="customerName">Customer name</label>
          <input type="text" ng-model="filter.customerName" class="form-control" id="customerName" placeholder="Customer name">
        </div>
        <div class="form-group">
          <label class="sr-only" for="transactionType">Transaction type</label>
          <input type="text" ng-model="filter.transactionType" class="form-control" id="transactionType" placeholder="Transaction type">
        </div>
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-search"></i> Filter
        </button>
        <button ng-click="clearFilter()" class="btn btn-default">Clear</button>
      </form>
      <table ng-table="tableParams" show-filter="true" class="table table-striped" style="margin-top: 10px;">
        <thead>
          <tr>
            <th style="text-align: left;">Tracking code
            <th style="text-align: left;">Customer name
            <th style="text-align: left;">Transaction type
            <th style="text-align: left;">Last updated
            <th style="text-align: left;">Transactions
            <th style="text-align: left;">Preview
            <th style="text-align: left;">Status
            <th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="record in $data">
            <td>{{record.trackingNo}}
            <td>{{record.customerName}}
            <td>{{record.transactionType}}
            <td>{{record.lastUpdated|date: 'MMM-dd-yyyy hh:mm'}}
            <td><a ui-sref="tenant.record_txns({tenantId: tenant.id, tenantRecordId: record.id, tenantIndex: tenantIndex})">Transactions</a>
            <td><a ui-sref="tenant.record_preview({tenantId: tenant.id, tenantRecordId: record.id, tenantIndex: tenantIndex})">Preview</a>
            <td>
              <select ng-model="record.status" 
                ng-options="template as template.status for template in statuses track by template.status"
                ng-change="saveRecord(record)"
                id="status" class="form-control"></select>
            </td>
            <td nowrap="nowrap">
              <span ng-click="updateRecord(record)" class="btn btn-default btn-xs">Edit</span>
            </td>
          </tr>
          <tr ng-if="!totalRecords">
            <td colspan="8">No records found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modals -->
<script type="text/ng-template" id="modal-create-record">
  <div class="modal-header modal-primary">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h3 ng-if="!record.id" class="modal-title">Create new record</h3>
    <h3 ng-if="record.id" class="modal-title">Update record</h3>
  </div>
  <form ng-submit="confirm()" class="form form-horizontal">
  <div class="modal-body">
      <div ng-if="record.id" class="form-group">
        <label for="trackingNo" class="col-sm-3">Tracking No.</label>
        <div class="col-sm-8">
          <input type="text" ng-model="record.trackingNo" required maxlength="10" class="form-control" id="customerName" placeholder="Tracker">
        </div>
      </div>
      <div class="form-group">
        <label for="customerName" class="col-sm-3">Customer name</label>
        <div class="col-sm-8">
          <input type="text" ng-model="record.customerName" class="form-control" id="customerName" placeholder="Customer name">
        </div>
      </div>
      <div class="form-group">
        <label for="transactionType" class="col-sm-3">Transaction type</label>
        <div class="col-sm-8">
          <input type="text" ng-model="record.transactionType" class="form-control" id="transactionType" placeholder="Transaction type">
        </div>
      </div>
      <div class="form-group">
        <label for="status" class="col-sm-3">Status</label>
        <div class="col-sm-8">
          <select ng-model="record.status" required
            ng-options="template as template.status for template in statuses track by template.status" id="status" class="form-control"></select>
        </div>
      </div>
      <span ng-if="!record.id" ng-click="clearRecord()" class="btn btn-default">Clear</span>
  </div>
  <div class="modal-footer">
    <button ng-if="!record.id" class="btn btn-s-xs btn-primary">Create</button>
    <button ng-if="record.id" class="btn btn-s-xs btn-success">Update</button>
    <span class="btn btn-default btn-s-xs" ng-click="close()">Cancel</span>
  </div>
  </form>
</script>