<div class="panel panel-default" style="margin-top:10px;">
  <div class="panel-heading">Tenant/Record Info</div>
  <div class="panel-body">
    <div class="col-sm-6">
      <dl class="dl-horizontal">
        <dt>Name
        <dd>{{tenant.name}}
        <dt>Keyword
        <dd>{{tenant.keyword}}
      </dl>
    </div>
    <div class="col-sm-6" ng-if="tenantRecord">
      <dl class="dl-horizontal">
        <dt>Customer Name
        <dd>{{tenantRecord.customerName}}
        <dt>Transaction type
        <dd>{{tenantRecord.transactionType}}
        <dt>Query method
        <dd>Send <strong>{{tenant.keyword}} {{tenantRecord.trackingNo}}</strong> to <strong>292902274</strong>
        <dt style="margin-top: 5px;">Record status
        <dd style="margin-top: 5px;"><select ng-model="tenantRecord.status" 
                ng-options="template as template.status for template in templates track by template.status"
                ng-change="saveRecord(tenantRecord)"
                class="form-control" style="width: 50%;"></select>
      </dl>
    </div>
  </div>
  <div class="panel-heading">Customer preview</div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="text-align: left;">Template code
          <th style="text-align: left;">Preview
          <th style="text-align: left;">Length (must be &lt; 160)
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="preview in previews" ng-class="{success: preview.active}">
          <td>{{preview.template.status}}
          <td>{{preview.preview}} This message is free
          <td ng-init="msglen = preview.preview.length + ' This message is free'.length"
           ng-class="{danger: msglen > 160}">{{msglen}}
        </tr>
        <tr ng-if="!previews.length">
          <td colspan="2">This tenant doesn't have any templates</td>
        </tr>
      </tbody>
    </table>

    <button ng-click="showAdvanced = !showAdvanced" style="font-family: monospace;" ng-init="showAdvanced = false" class="btn btn-default btn-xs">
      <span ng-if="showAdvanced">[-]</span>
      <span ng-if="!showAdvanced">[+]</span>
      Advanced
    </button>

    <div ng-show="!showAdvanced" class="text-right" style="margin-top: 10px;">
      <button ui-sref="home({tenantIndex: tenantIndex})" class="btn btn-default">Done</button>
    </div>
  </div>
  <div ng-show="showAdvanced" class="panel-heading">Customer variables</div>
  <div ng-show="showAdvanced" class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Variable key
          <th>Value
          <td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="variable in tenantVariables">
          <td>{{variable.key}}
          <td>{{recordVariables[variable.key] || variable.value + ' (default)'}}
          <td>
            <button class="btn btn-xs btn-default">Edit</button>
            <button class="btn btn-xs btn-danger">Use default</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-right" style="margin-top: 10px;">
      <button ui-sref="home({tenantIndex: tenantIndex})" class="btn btn-default">Done</button>
    </div>
  </div>
</div>

<!-- Modals -->
<script type="text/ng-template" id="modal-assign-variable">
  <div class="modal-header modal-primary">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h3 ng-if="!record.id" class="modal-title">Create new record</h3>
    <h3 ng-if="record.id" class="modal-title">Update record</h3>
  </div>
  <form ng-submit="confirm()" class="form form-inline">
  <div class="modal-body">
      <div class="form-group">
        <label class="sr-only" for="status">Status</label>
        <select ng-model="record.status" required
          ng-options="template as template.status for template in statuses track by template.status" id="status" class="form-control"></select>
      </div>
      <div class="form-group">
        <label class="sr-only" for="customerName">Customer name</label>
        <input type="text" ng-model="record.customerName" class="form-control" id="customerName" placeholder="Customer name">
      </div>
      <div class="form-group">
        <label class="sr-only" for="transactionType">Transaction type</label>
        <input type="text" ng-model="record.transactionType" class="form-control" id="transactionType" placeholder="Transaction type">
      </div>
      <span ng-if="!record.id" ng-click="clearRecord()" class="btn btn-default">Clear</span>
  </div>
  <div class="modal-footer">
    <button ng-if="!record.id" class="btn btn-s-xs btn-primary">Create</button>
    <button ng-if="record.id" class="btn btn-s-xs btn-success">Update</button>
    <span class="btn btn-default btn-s-xs" ng-click="close()">Cancel</span>
  </div>
  </form>
</script>