<div class="panel panel-default" style="margin-top:10px;">
  <div class="panel-heading">Business/Customer Record Info</div>
  <div class="panel-body">
    <div class="col-sm-6">
      <dl class="dl-horizontal">
        <dt>Name
        <dd>{{tenant.name}}
        <dt>Keyword
        <dd>{{tenant.keyword}}
        <dt ng-if="!tenantRecord">Total Transactions</dt>
        <dd ng-if="!tenantRecord">{{totalRecords}}</dd>
      </dl>
    </div>
    <div class="col-sm-6" ng-if="tenantRecord">
      <dl class="dl-horizontal">
        <dt>Customer Name
        <dd>{{tenantRecord.customerName}}
        <dt>Transaction type
        <dd>{{tenantRecord.transactionType}}
        <dt>Total Transactions
        <dd>{{totalRecords}}
      </dl>
    </div>
  </div>
  <div class="panel-heading">Business transactions</div>
  <div class="panel-body">
    <table ng-table="tableParams" show-filter="true" class="table table-striped">
      <thead>
        <tr>
          <th style="text-align: left;">Txn date
          <th style="text-align: left;">Mobile #
          <th style="text-align: left;">Customer
          <th style="text-align: left;">Request
          <th style="text-align: left;">Response
          <th style="text-align: left;">Delivered
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="record in $data">
          <td>{{record.transactionDate|date: 'MMM-dd-yyyy hh:mm a'}}
          <td>{{record.mobileNumber}}
          <td>{{record.record ? record.record.customerName : ''}}
          <td>{{record.incomingMessage}}
          <td>{{record.outgoingMessage}}
          <td>{{record.delivered ? 'Y' : 'N'}}
        </tr>
        <tr ng-if="!totalRecords">
          <td colspan="6">No records found</td>
        </tr>
      </tbody>
    </table>

    <div class="text-right" style="margin-top: 10px;">
      <button ng-click="reloadTable()" class="btn btn-success">&nbsp;<i class="fa fa-refresh"></i>&nbsp;</button>
      <button ui-sref="home({tenantIndex: tenantIndex})" class="btn btn-default">Done</button>
    </div>
  </div>
</div>
